

// Colour Variables //
    $light-orange: #fd7856;
    $lime-green: #58e1c1;
    $light-purple: #927bc1;
    $light-red: #e4757a;
    $light-blue: #51ddfc;
    $turq: #4da2bb;
    $grey : #777;
    $white : #fff;
    $navbc :  #58e1c1;
    $img-f: #ccc;
    
    $bc1 : #927bc1;
    $bc2 : #fd7856;
    $bc3 : #deb2ee;
    $bc4 : #7ee6fd;
    $bc5 : #88d9a0;
    $bc6 : #4da2bb;
    $bc7 : #ec9fa3;
    $bc8 : #fd9f85;
    $bc9 : #e4757a;
    $bc10 : #63cc82;
    $bc11 : #51ddfc;
    $bc12 : #80e8d1;


// Media Query Breakpoints //

    $brk-narrow : '(min-width: 768px)';
        
